/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-abr-2019, 15:06:52
    Author     : campofacil
*/

/** CSS Variables **/
:root {
  --color-primary: #801e7e;
  --color-primary-rgb: 128,30,126;
  --color-primary-contrast: #ffffff;
  --color-primary-contrast-rgb: 255,255,255;
  --color-primary-shade: #551c88;
  --color-primary-tint: #73558d;

  --color-secondary: #1ab9db;
  --color-secondary-rgb: 26,185,219;
  --color-secondary-contrast: #000000;
  --color-secondary-contrast-rgb: 0,0,0;
  --color-secondary-shade: #17a3c1;
  --color-secondary-tint: #31c0df;

  --color-tertiary: #d5a70b;
  --color-tertiary-rgb: 213,167,11;
  --color-tertiary-contrast: #000000;
  --color-tertiary-contrast-rgb: 0,0,0;
  --color-tertiary-shade: #bb930a;
  --color-tertiary-tint: #d9b023;

  --color-success: #10dc60;
  --color-success-rgb: 16,220,96;
  --color-success-contrast: #ffffff;
  --color-success-contrast-rgb: 255,255,255;
  --color-success-shade: #0ec254;
  --color-success-tint: #28e070;

  --color-warning: #ffce00;
  --color-warning-rgb: 255,206,0;
  --color-warning-contrast: #ffffff;
  --color-warning-contrast-rgb: 255,255,255;
  --color-warning-shade: #e0b500;
  --color-warning-tint: #ffd31a;

  --color-danger: #f04141;
  --color-danger-rgb: 245,61,61;
  --color-danger-contrast: #ffffff;
  --color-danger-contrast-rgb: 255,255,255;
  --color-danger-shade: #d33939;
  --color-danger-tint: #f25454;

  --color-dark: #222428;
  --color-dark-rgb: 34,34,34;
  --color-dark-contrast: #ffffff;
  --color-dark-contrast-rgb: 255,255,255;
  --color-dark-shade: #1e2023;
  --color-dark-tint: #383a3e;

  --color-medium: #989aa2;
  --color-medium-rgb: 152,154,162;
  --color-medium-contrast: #ffffff;
  --color-medium-contrast-rgb: 255,255,255;
  --color-medium-shade: #86888f;
  --color-medium-tint: #a2a4ab;

  --color-light: #f4f5f8;
  --color-light-rgb: 244,244,244;
  --color-light-contrast: #000000;
  --color-light-contrast-rgb: 0,0,0;
  --color-light-shade: #d7d8da;
  --color-light-tint: #f5f6f9;

   /* Set the background of the entire app */
   --background-color: #fff;
  /* Set the font family of the entire app */
  --font-family: -apple-system, BlinkMacSystemFont, 'Varela Round', "Helvetica Neue", "Roboto", sans-serif;


}


/**-----------------------Barra de navegación-------------------------**/
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-right: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-inverse{
    background-color: var(--color-primary);
    border-color: var(--color-light);
    height: 75px;
}
.navbar-inverse .container{
    padding: 10px;
}
.navbar-inverse .navbar-brand {
    color: #f4f5f8;
    padding: 0px 30px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: var(--color-primary);
    background-color: var(--color-light);
}

.navbar-inverse .navbar-toggle {
    border-color: var(--color-light);
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: rgba(var(--color-primary-rgb), 0.76);
   
}

.navbar-inverse .navbar-nav > li > a {
    color: #f4f5f8;
    background-color:rgba(var(--color-primary-rgb), 0.70);
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #f4f5f8;
    background-color: rgba(var(--color-secondary-rgb), 0.76);
}

.breadcrumb {
    padding: 8px 15px;
    margin: 15px 5px;
    list-style: none;
    background-color: var(--color-primary);
    border-radius: 4px;
    font-size: 16px;
}
.breadcrumb > .active {
    color: var(--color-primary-contrast);
}
.bg-primary {
    color: var(--color-light);
    background-color: var(--color-primary);
}
/*----------------------------------------------------------------------*/

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.nav-link {
  display: block;
  padding: 0.5rem 1rem; }
  .nav-link:hover, .nav-link:focus {
    text-decoration: none; }
  .nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default; }

.nav-tabs {
  border-bottom: 1px solid #dee2e6; }
  .nav-tabs .nav-item {
    margin-bottom: -1px; }
  .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }
    .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
      border-color: #e9ecef #e9ecef #dee2e6; }
    .nav-tabs .nav-link.disabled {
      color: #6c757d;
      background-color: transparent;
      border-color: transparent; }
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: white;
    border-color: #dee2e6 #dee2e6 white; }
  .nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

    .nav-pills .nav-link {
      border-radius: 0.25rem; }

    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link {
      color: #fff;
      background-color: #801e7e; }

    .nav-fill .nav-item {
      flex: 1 1 auto;
      text-align: center; }

    .nav-justified .nav-item {
      flex-basis: 0;
      flex-grow: 1;
      text-align: center; }

/*--------------------TABLA DE GRID VIEW--------------------------------*/
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid var(--color-primary);
}
.table-bordered > thead > tr > th{
    background-color: var(--color-primary);
     padding: 8px 15px;
     font-size: 16px;
     color: var(--color-primary-contrast);
}
/*---------------------------------------------------------------------*/